<!DOCTYPE html>

<html>
<head>
    
    <title>jqPlot Sample Charts</title>

    <link class="include" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/jquery.jqplot.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/examples.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/syntaxhighlighter/styles/shCoreDefault.min.css" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}js/syntaxhighlighter/styles/shThemejqPlot.min.css" />
  
  <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="../excanvas.js"></script><![endif]-->
  <script class="include" type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<!-- Don't touch this! -->


    <script class="include" type="text/javascript" src="{{ STATIC_URL }}js/jquery.jqplot/jquery.jqplot.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shCore.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushJScript.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/syntaxhighlighter/scripts/shBrushXml.min.js"></script>
<!-- End Don't touch this! -->

<!-- Additional plugins go here -->

    <script class="include" language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
    <script class="include" language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.jqplot/plugins/jqplot.ohlcRenderer.min.js"></script>
    <script class="include" language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.jqplot/plugins/jqplot.highlighter.min.js"></script>

<!-- End additional plugins -->
<script class="code" language="javascript" type="text/javascript">
$(document).ready(function(){ 
  // Note, the ohlc data is specified below 
  //alert({{ STATIC_URL }})  
  var minDate = "";
  var maxDate = "";
  var ajaxDataRenderer = function(url, plot, options) {
	    var ret = null;
	    $.ajax({
	      // have to use synchronous here, else the function 
	      // will return before the data is fetched
	      async: false,
	      url: url,
	      dataType:"json",
	      success: function(data) {
	        ret = data;
	      }
	    });
	    //alert(ret)
	    //minDate = ret[ret.length-1]
	    //alert(ret.length)
	    //return ret;
	    //return [ret,ret];
	    return ret;
	  };
	 
	  // The url for our json data
	  //var jsonurl = {{ STATIC_URL }}+"jsondata.txt";
	  var jsonurl = "jsoncandle";
	  //alert(jsonurl)
	  //alert(ohlc)
	  //alert([ohlc])
	var line = [['06/08/2009', 7], ['06/09/2009', 100],['06/10/2009', 50]];
    
    var line3 = [
     ["06/08/2009", 136.01, 139.5, 134.53, 139.48],
     ["06/09/2009", 143.82, 144.56, 136.04, 136.97],
     ["06/10/2009", 143.82, 144.56, 136.04, 136.97]
     ]
    
    //var plot1 = $.jqplot('chart1',[line3,line],{
  var plot1 = $.jqplot('chart1',jsonurl,{
	    // use the y2 axis on the right of the plot 
	    //rather than the y axis on the left.
	    dataRenderer: ajaxDataRenderer,
	    seriesDefaults:{yaxis:'y2axis'},
	    axes: {
	      xaxis: {
	        renderer:$.jqplot.DateAxisRenderer,
	        //tickOptions:{formatString:'$%.2f'}, 
	        // For date axes, we can specify ticks options as human 
	        // readable dates.  You should be as specific as possible, 
	        // however, and include a date and time since some 
	        // browser treat dates without a time as UTC and some 
	        // treat dates without time as local time.
	        // Generally, if  a time is specified without a time zone,
	        // the browser assumes the time zone of the client.
	        //min: "07-19-2012",
	        //max: "09-17-2012 16:00",
	        //tickInterval: "6 weeks",
	      },
	      y2axis: {
	        tickOptions:{formatString:'$%.2f'}
	      }
	    },
	    series: [{renderer:$.jqplot.OHLCRenderer}],
	    highlighter: {
	      show: true,
	      showMarker:false,
	      tooltipAxes: 'xy',
	      yvalues: 4,
	      // You can customize the tooltip format string of the highlighter
	      // to include any arbitrary text or html and use format string
	      // placeholders (%s here) to represent x and y values.
	      formatString:'<table class="jqplot-highlighter"> \
	      <tr><td>date:</td><td>%s</td></tr> \
	      <tr><td>open:</td><td>%s</td></tr> \
	      <tr><td>hi:</td><td>%s</td></tr> \
	      <tr><td>low:</td><td>%s</td></tr> \
	      <tr><td>close:</td><td>%s</td></tr></table>'
	    }
	  });
    
});
</script>
<script class="code" language="javascript" type="text/javascript">

</script>
  

</head>
<body>    
    
   <div class="nav">
   <a class="nav" href="../../../index.php"><span>&gt;</span>Home</a>
   <a class="nav"  href="../../../docs/"><span>&gt;</span>Docs</a>
   <a class="nav"  href="../../download/"><span>&gt;</span>Download</a>
   <a class="nav" href="../../../info.php"><span>&gt;</span>Info</a>
   <a class="nav"  href="../../../donate.php"><span>&gt;</span>Donate</a>
   <div id="chart1" style="height:250px; width:600px;"></div>
   </div>
</div>
<!-- Index content goes here -->

<style type="text/css">

    p.example-link {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 120px;
    }

</style>

<!-- End Index content -->


    </div>

</body>


</html>
