{% extends "base.html" %}
{% load i18n staticfiles  %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'c3/c3.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.0.3/css/font-awesome.min.css' %}">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'd3/d3.min.js'%}"></script>
    <script src="{% static 'c3/c3.min.js' %}"></script>
    <script src="{% static 'moment/min/moment.min.js' %}"></script>
    <script src="{% static 'handlebars/handlebars.min.js' %}"></script>

    <script id="row-template" type="text/x-handlebars-template">
    {% verbatim %}
        <tr>
            <td>{{ date }}</td>
            <td>{{ name }}</td>
            <td>{{ market_value }}</td>
            <td>{{ total }}</td>
            <td>{{ position_ratio }}</td>
            <td>
            <a class="delete" data-row-key="{{oid}}" href="#"><i class="fa fa-trash-o" ></i></a>
            <a class="detail" data-row-key="{{oid}}" href="#" target="_blank"><i class="fa fa-search" ></i></a>
            </td>
        </tr>
    {% endverbatim %}
    </script>

    <script>
    $(document).ready(function(){
        //bind "click" event to dynamically created element this way!
        $(document).on("click",".delete", function(){
            //a trick to pass JS variable to django url template tag
            var url = "{% url 'portfolio:delete_portfolio' pk=999999 %}";
            var id = $(this).data("rowKey");
            url = url.replace(/999999/,id);
            console.log(url);
            $.get(url,function(data){
                console.log(data);
            });
        });
        $(document).on("click",".detail", function(){
            //a trick to pass JS variable to django url template tag
            var url = "{% url 'portfolio:portfolio_detail' pk=999999 %}";
            var id = $(this).data("rowKey");
            url = url.replace(/999999/,id);
            console.log(url);
            window.location.href=url
        });
        var mode = "{{ mode }}";
{##}
{#        $("#last7Days").click(function(){#}
{#            //a trick to pass JS variable to django url template tag#}
{#            var url = "{% url 'management.adstats'%}";#}
{#            url = url+'?mode=last7Days';#}
{#            console.log(url)#}
{#            window.location.href = url;#}
{#        });#}
{##}
        $("#now").click(function(){
            var url = "{% url 'portfolio:snapshot'%}";
            $.get(url, function(data){
                console.log(data);
                $('.table > tbody:last').append('<tr><td>test</td></tr>');
            });

        });
{##}
{#        $("#search").click(function(){#}
{#            //a trick to pass JS variable to django url template tag#}
{#            var url = "{% url 'management.adstats'%}";#}
{#            console.log($("#start"));#}
{#            var start = $('#start').val();#}
{#            console.log(start);#}
{#            var end = $('#end').val();#}
{#            console.log(end);#}
{#            url = url+'?mode=search&start='+start+'&end='+end;#}
{#            console.log(url)#}
{#            window.location.href = url;#}
{#        });#}

        var stats_json = {{  data |safe}};

        console.log(stats_json);

        var adPresentation = ['Market Value'];
        var totalList = ['Total'];
{#        var ratioList = ['Position Ratio'];#}
        var dateArray = ['x']
        var format = "YYYY-MM-D";
        stats_json.forEach(function(element,index,array){
            console.log(element);
{#            console.log(element.count);#}
{#            console.log(element.count === null)#}
            var marketValue = element.market_value;
            if (marketValue === null){
                marketValue = 0;
            }
            adPresentation.push(marketValue);
            var total = element.total;
            if (total === null || typeof total === 'undefined'){
                total = 0;
            }
            totalList.push(total);
{#            ratioList.push(element.position_ratio);#}

            console.log(element.date);
            date = moment(element.date)
            console.log(new Date(element.date));
            console.log(date);
            console.log(date.format(format));
            console.log(element._id.$oid);
            dateArray.push(date.format(format));

{#            console.log(date.format("YYYY-MM-D"))#}
            var source   = $("#row-template").html();
            var template = Handlebars.compile(source);
            var context = {date: date.format(format), name:element.name,oid:element._id.$oid,
                market_value: marketValue, total: element.total,
                position_ratio: parseFloat(element.position_ratio).toFixed(2)};
            var html    = template(context);
{#            console.log(html);#}
            $('.table > tbody:last').append(html);
        });

        console.log(adPresentation);
        console.log(totalList);
        console.log(dateArray);

        var xFormat = "%Y-%m-%d";
        if (mode === 'today' || mode ==='yesterday'){
            xFormat = "%Y-%m-%dT%H";
        }

        var chart = c3.generate({
            bindto: '#chart',
            data: {
                x:'x',
                xFormat: xFormat,
                columns: [dateArray,adPresentation,totalList],
                types: {
                    'Market Value': 'area-spline',
                    'Total': 'area-spline'
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: xFormat
                    }
                }
            }
        });

    });
    </script>
{% endblock %}

{% block content-header %}
<h1>
    {% trans "AD Statistics" %}
    <small></small>
</h1>
{% endblock %}

{% block content %}
<div>
    <input type="text" class="datepicker" id="start" placeholder="{% trans 'Start Date' %}">
    <input type="text" class="datepicker" id="end" placeholder="{% trans 'End Date' %}">
    <a id="search" class="btn btn-default">{% trans "search" %}</a>
    <div class="btn-group">
      <a id="last7Days" class="btn btn-default">{% trans "Last 7 days Statistics" %}</a>
      <a id="now" class="btn btn-default">{% trans "Now" %}</a>
    </div>
</div>
<div id="chart"></div>
<table class="display table table-bordered" id="table">
    <thead>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Market Value" %}</th>
        <th>{% trans "Total" %}</th>
        <th>{% trans "Position Ratio" %}</th>
        <th>{% trans "Operation" %}</th>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %}


