{% extends "base.html" %}
{% load staticfiles i18n %}
{% block extra_css %} 
<link rel="stylesheet" href="{% static 'vex/css/vex.css' %}" />
<link rel="stylesheet" href="{% static 'vex/css/vex-theme-os.css' %}" />
<link rel="stylesheet" href="{% static 'font-awesome-4.0.3/css/font-awesome.min.css' %}" />
{% endblock %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Portfolio
        <small>Portfolio</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <section class="col-xs-12">
                <article>Total:{{total}} Net:{{net_asset}} Financing:{{ financing }} Lever:{{ lever }}</article>
                <article>Market:{{market_value}} Position:{{position_ratio}} Profit:{{profit_ratio}}</article>
    <small><a href="{% url 'portfolio:history' %}">History</a></small>
    <div id="content" class="container">

            <ul class="nav nav-tabs">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Tags <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="tag">top100</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                  </li>
            </ul>
            <table class="table table-hover">
                  <thead>
                    <tr>
                        <th class="sort" data-sort="code">Stock</th>
                        <th>{% trans "Amount" %}</th>
                        <th>Current</th>
                        <th class="sort" data-sort="market"><i class="fa fa-sort"></i>Market</th>
                        <th class="sort" data-sort="market"><i class="fa fa-sort"></i>ratio(%)</th>
                        <th class="sort" data-sort="percentage"><i class="fa fa-sort"></i>percentage(%)</th>
                    </tr>
                </thead>
                <tbody class="list">
                    {% for stock in results%}
                        <tr>
                            <td class="code">{{stock.code}}</td>
                            <td>{{stock.amount}}</td>
                            <td>{{stock.current}}</td>
                            <td class="market">
                                {% if stock.current and stock.amount %}
                                    {% widthratio stock.current 1 stock.amount %}
                                {% else %}
                                    0
                                {% endif %}
                            </td>
                            <td>{{ stock.ratio }}</td>
                            <td>{{stock.percentage}}</td>
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
			<from action="." method="post">{% csrf_token %}
                <button class="btn btn-primary btn-lg" id="create">
                  <i class="fa fa-plus"></i> Create
                </button>
            </from>
		</div>
                            </section>
            </div>
    </section>
</div>
    
{% endblock %}

{% block extra_js %}
        <script type="text/javascript" src="{% static 'handlebars/handlebars.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'vex/js/vex.combined.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/list.min.js' %}"></script>
        <script id="entry-template" type="text/x-handlebars-template">
          template content
        </script>

		<script type="text/javascript">
        function modify_stock(code){
            var source   = $("#entry-template").html();
            var template = Handlebars.compile(source);
            var context = {title: "My New Post", body: "This is my first post!"}
            var html    = template(context);
                $.get( "detail", { code: code},function( data ) {
                  //$( ".result" ).html( data );
                    console.log(data)
                    amount = data['amount']
                    up_threshold = data['up_threshold']
                    down_threshold = data['down_threshold']
                  //window.location.reload();
                    vex.dialog.open({
                      afterOpen: function($vexContent) {
                          $('#code').val(code)
                          $('#amount').val(amount)
                          $('#up_threshold').val(up_threshold)
                          $('#down_threshold').val(down_threshold)
                          return $vexContent.append(html);
                      },
                      message: 'Enter your code and amount:',
                      input: "<input id=\"code\" name=\"code\" type=\"text\" placeholder=\"Code\" required />\n<input id=\"amount\" name=\"amount\" type=\"text\" placeholder=\"Amount\" required /><input id=\"up_threshold\" name=\"up_threshold\" type=\"text\" placeholder=\"Up Threshold\" required /><input id=\"down_threshold\" name=\"down_threshold\" type=\"text\" placeholder=\"Down Threshold\" required />",
                      buttons: [
                        $.extend({}, vex.dialog.buttons.YES, {
                          text: 'Submit'
                        }), $.extend({}, vex.dialog.buttons.NO, {
                          text: 'Cancel'
                        })
                      ],
                      callback: function(data) {
                        if (data === false) {
                          return console.log('Cancelled');
                        }
                        $.get( "update", { code: data.code, amount: data.amount,up_threshold:data.up_threshold,down_threshold:data.down_threshold },function( data ) {
                          //$( ".result" ).html( data );
                          window.location.reload();
                        });
                        return console.log('Code', data.code, 'Amount', data.amount, 'Up', data.up_threshold, 'Down', data.down_threshold);
                      }
                    });
                });

        }

    $(document).ready(function(){
        $(".modify").click(function(){
            modify_stock($(this).data("value"));
        });

        $("#create").click(function() {
            vex.dialog.open({
              message: 'Enter your code and amount:',
              input: "<input name=\"code\" type=\"text\" placeholder=\"Code\" required />\n<input name=\"amount\" type=\"text\" placeholder=\"Amount\" required />",
              buttons: [
                $.extend({}, vex.dialog.buttons.YES, {
                  text: 'OK'
                }), $.extend({}, vex.dialog.buttons.NO, {
                  text: 'Back'
                })
              ],
              callback: function(data) {
                if (data === false) {
                  return console.log('Cancelled');
                }
                $.get( "create", { code: data.code, amount: data.amount },function( data ) {
                  //$( ".result" ).html( data );
                  window.location.reload();
                });
                return console.log('Username', data.code, 'Password', data.amount);
              }
            });
        });

            $('.tag').click(function(){
                console.log('apply tag"'+$(this).text())
            });

           $(".delete").click(function(){
              console.log("delete now:"+$(this).data("value"));
              var url = "{% url 'portfolio:delete' pk=999999 %}";
              url = url.replace(/999999/, $(this).data("value"))
              console.log(url);
               window.location.href=url;
           });



        });
		</script>
{% endblock %}