<!DOCTYPE html>
<html>
	<head>
		<title>Isotope Tutorial</title>
		
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/bootstrap.css">
		<link rel="stylesheet" href="../static/js/chosen/chosen.css" />
		<script type="text/javascript" src="../static/js/jquery-1.8.2.min.js"></script>	
		<script type="text/javascript" src="../static/bootstrap/js/bootstrap-tooltip.js"></script>			
		<script type="text/javascript" src="../static/js/isotope.js"></script>
		<script type="text/javascript" src="../static/js/jquery.infinitescroll.js"></script>
		<script type="text/javascript" src="../static/js/chosen/chosen.jquery.min.js"></script>
		
		<script type="text/javascript">
		
		$(document).ready(function(){
			var industry = "{{industry}}"
				var stockList = "{{stockList}}"
					
				$("#industry-select").val(industry)	
				$("#industry-select").chosen();		
				
				$("#industry-select").chosen().change( function(e){ 
					window.location = "http://127.0.0.1:8000/zytj/dlist?industry="+$(this).val()+"&list="+$("#list-select").val();
				} );
				
				
				$("#list-select").val(stockList)	
				$("#list-select").chosen();		
				
				$("#list-select").chosen().change( function(e){ 
					window.location = "http://127.0.0.1:8000/zytj/dlist?list="+$(this).val()+"&industry="+$("#industry-select").val();
				} );
			
		$('[rel=tooltip]').tooltip({html:true});
		$('.icon-arrow-down').tooltip({title:"Below MA50"});
		$('.icon-exclamation-sign').tooltip({title:"Below MA200",placement:"right"});
		
		var $container = $('#content');
		$container.isotope({
			filter: '*',
			animationOptions: {
		     duration: 750,
		     easing: 'linear',
		     queue: false,
		   }
		});


		$container.infinitescroll({
		    navSelector  : "a#next:last",    // selector for the paged navigation 
		    nextSelector : "a#next:last",  // selector for the NEXT link (to page 2)
		    itemSelector : "div.cat2",     // selector for all items you'll retrieve
		    debug: true,
		    dataType: 'html'
		    },
	    // call Isotope as a callback
	    function( newElements ) {
	      $container.isotope( 'appended', $( newElements ) ); 
	    }
	  );

});
		</script>
	</head>
	
	<body>
		<div id="header"></div>

		<a id="next" href="dlist/?industry={{industry}}&list={{stockList}}&q=2">next page?</a>
		<div id="nav">
			<ul>
				<li><a href="/zytj/alist" data-filter=".cat1">Ascending from Year Low</a></li>
				<li><a href="/zytj/dlist" data-filter=".cat2">Descending from Year High</a></li>
			</ul>
			<ul>
				<select data-placeholder="Choose a Industry" id="industry-select">
					<option value=""></option>
					<option value="all">all</option>
				{% for industry in industry_set%}
			        <option value="{{industry}}">{{industry}}</option>			        
			    {%endfor%}
    			</select>    			
			</ul>
			
			<ul>
				<select data-placeholder="Choose a List" id="list-select">
					<option value=""></option>					
				{% for list in lists%}
			        <option value="{{list}}">{{list}}</option>			        
			    {%endfor%}
    			</select>    			
			</ul>
		</div>
		
		<div id="content">			
			{% for stock in results%}
			    <div class="box cat2 cat3">
					<h2 class="box-title"><a href="/zytj/candle/{{stock.code}}" data-filter=".cat1" rel="tooltip" data-placement="right" title ="<html>High:{{stock.yearHigh}}<br>Low:{{stock.yearLow}}<br>MA50:{{stock.ma50}}<br>MA200:{{stock.ma200}}<br></html>">{{stock.code}}</a></h2>
					<div class="box-text">
						{{stock.current}}
						-{{stock.PercentChangeFromYearHigh}}%
						{% if stock.isInSh %}
						<a href="http://finance.sina.com.cn/realstock/company/sh{{stock.code}}/nc.shtml">Sina</a>
						{% else%}
						<a href="http://finance.sina.com.cn/realstock/company/sz{{stock.code}}/nc.shtml">Sina</a>
						{% endif %}
					</div>
					<div class="box-text">
						{% if stock.current < stock.ma50 and stock.ma50 < stock.ma200 %}
						<i class="icon-star-empty"></i>
						{% elif stock.current < stock.ma50 %}
						<i class="icon-arrow-down"></i>
						{% elif stock.current < stock.ma200 %}
						<i class="icon-thumbs-down"></i>
						{% endif%}
						{% if stock.current > stock.ma50 and stock.ma50 > stock.ma200 %}
						<i class="icon-star"></i>
						{% elif stock.current > stock.ma50 %}
						<i class="icon-arrow-up"></i>
						{% elif stock.current > stock.ma200 %}
						<i class="icon-thumbs-up"></i>
						{% endif%}
					</div>
				</div>
			{%endfor%}
		
		</div>
	</body>
</html>