{% extends "base.html" %}
        
{% block extra_js %}
        <script type="text/javascript">

		$(document).ready(function(){
		var industry = "{{industry}}"
		var stockList = "{{stockList}}"

		$("#industry-select").val(industry)
		$("#industry-select").chosen();

		$("#industry-select").chosen().change( function(e){
			window.location = "http://127.0.0.1:8000/zytj/alist?industry="+$(this).val()+"&list="+$("#list-select").val();
		} );


		$("#list-select").val(stockList)
		$("#list-select").chosen();

		$("#list-select").chosen().change( function(e){
			window.location = "http://127.0.0.1:8000/zytj/alist?list="+$(this).val()+"&industry="+$("#industry-select").val();
		} );

		//$('[rel=tooltip]').tooltip()
		var jsondata = '<html>hello<br>Simon</html>';
		//$('[rel=tooltip]').attr('title', jsondata).tooltip({html:true});
		$('[rel=tooltip]').tooltip({html:true});
		$('.icon-arrow-down').tooltip({title:"Below MA50"});
		$('.icon-arrow-up').tooltip({title:"Above MA50",placement:"right"});
		$('.icon-star-empty').tooltip({title:"Bad",placement:"right"});
		$('.icon-star').tooltip({title:"Great",placement:"right"});
		$('.icon-thumbs-down').tooltip({title:"Below MA200",placement:"right"});
		$('.icon-thumbs-up').tooltip({title:"Above MA200",placement:"right"});

		var $container = $('#content');
		$container.isotope({
			filter: '*',
			animationOptions: {
		     duration: 750,
		     easing: 'linear',
		     queue: false,
		   }
		});


		$container.infinitescroll({
		    navSelector  : "a#next:last",    // selector for the paged navigation
		    nextSelector : "a#next:last",  // selector for the NEXT link (to page 2)
		    itemSelector : "div.cat2",     // selector for all items you'll retrieve
		    debug: true,
		    dataType: 'html'
		    },
	    // call Isotope as a callback
	    function( newElements ) {
	      $container.isotope( 'appended', $( newElements ) );
	    }
	  );

		$("#300104").click(function() {
              console.log('hello')
			  alert("Handler for .click() called.");
		});

});
		</script>
{% endblock %}

{% block content %}
<div id="content">
    {% for stock in results%}
        <div class="box cat2 cat3" >
            <h2 class="box-title"><a id="{{stock.code}}" href="/zytj/candle/{{stock.code}}" data-filter=".cat1" rel="tooltip" data-placement="right" title ="<html>High:{{stock.yearHigh}}<br>Low:{{stock.yearLow}}<br>MA50:{{stock.ma50}}<br>MA200:{{stock.ma200}}<br></html>">{{stock.code}}</a></h2>
            <div class="box-text">
                {{stock.name}}
                +{{stock.PercentChangeFromYearLow}}%
                {% if stock.isInSh %}
                <a href="http://finance.sina.com.cn/realstock/company/sh{{stock.code}}/nc.shtml">Sina</a>
                {% else%}
                <a href="http://finance.sina.com.cn/realstock/company/sz{{stock.code}}/nc.shtml">Sina</a>
                {% endif %}
            </div>
            <div class="box-text">
                {% if stock.current < stock.ma50 and stock.ma50 < stock.ma200 %}
                <i class="icon-star-empty"></i>
                {% elif stock.current < stock.ma50 %}
                <i class="icon-arrow-down"></i>
                {% elif stock.current < stock.ma200 %}
                <i class="icon-thumbs-down"></i>
                {% endif%}
                {% if stock.current > stock.ma50 and stock.ma50 > stock.ma200 %}
                <i class="icon-star"></i>
                {% elif stock.current > stock.ma50 %}
                <i class="icon-arrow-up"></i>
                {% elif stock.current > stock.ma200 %}
                <i class="icon-thumbs-up"></i>
                {% endif%}
            </div>
        </div>
    {%endfor%}

</div>
{% endblock %}
