{% extends "base.html" %}

{% load staticfiles i18n %}

{% block content %}
<div class="container">
    <div class="list-group">
      <a target="_blank" href="{% url 'zytj.alist' %}" class="list-group-item">
          {% trans "Ascending List" %}
      </a>
      <a target="_blank" href="{% url 'zytj.dlist' %}" class="list-group-item">{% trans "Descending List" %}</a>
      <a target="_blank" href="{% url 'zytj.nhnl' %}" class="list-group-item">{% trans "NHNL" %}</a>
      <a target="_blank" href="{% url 'zytj.ma' %}" class="list-group-item">{% trans "MA" %}</a>
    </div>
</div>
{% endblock %}